.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #deba91;
    font-family: Arial, sans-serif;
  }
  
  .formBox {
    background-color: #fee9e7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
  }
  
  .formBox h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .formGroup {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .formGroup label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .formGroup input,
  .formGroup select,
  .formGroup textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .formGroup textarea {
    resize: vertical;
    min-height: 80px;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .buttonGroup button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submitButton {
    background-color: #568c3d;
    color: white;
  }
  
  .backButton {
    background-color: #ccc;
    color: black;
  }
  
  .submitButton:hover {
    background-color: #45a049;
  }
  
  .backButton:hover {
    background-color: #c3deb6;
  }
  