body {
  background-color: #deba91;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #deba91;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    color: #362817;
  }
  
  .title {
    font-size: 24px;
    color: #333;
  }
  
  .buttonGroup {
    display: flex;
    gap: 10px;
  }
  
  .button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .primaryButton {
    background-color: #007bff;
    color: white;
  }
  
  .secondaryButton {
    background-color: #6c757d;
    color: white;
  }
  
  .filterSection {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: #F6E2B9;
  }
  
  .filterSection h2 {
    margin: 0; 
  }
  
  .filterOptions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .filterSelect {
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f7f7f7;
    color: #333;
    width: 220px;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
  }
  
  .filterSelect:hover {
    background-color: #e6e6e6;
  }
  
  .filterSelect:focus {
    outline: none;
    border-color: #ebc2c6; /* Focus border color */
    background-color: #fff;
  }
  
  .filterDatetime {
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f7f7f7;
    color: #333;
    width: 220px;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
  }
  
  .filterDatetime:hover {
    background-color: #e6e6e6;
  }
  
  .filterDatetime:focus {
    outline: none;
    border-color: #ebc2c6; /* Focus border color */
    background-color: #fff;
  }


  .filterTitle {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .filterForm {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .filterItem {
    flex: 1;
    min-width: 200px;
  }
  
  .filterLabel {
    display: block;
    margin-bottom: 5px;
  }
  
  .filterInput {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
  .filterButton {
    background-color: #568c3d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .filterButton:hover {
    background-color: #45a049;
  }
  
  .announcementGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns */
    gap: 20px; /* Space between grid items */
    margin-top: 20px;
  }
  
  .announcementCard {
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .reportFlag {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 16px; 
    color: rgb(87, 29, 29);
  }
  
  .reportFlag:hover {
    color: #a43333; 
  }

  .announcementDescription {
    font-style: italic;
    font-size: 16px;
    color: #2c2929; 
  }

  .announcementDate {
    font-size: 16px; 
    color: #2c2929; 
  }
  
  .reportFlag {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 16px; 
    color: rgb(87, 29, 29);
  }
  
  .reportFlag:hover {
    color: #a43333;
  }